*{
    margin: 0px;
    padding: 0px;
}
.row-1{
    width: 100%;
    min-height: 120vh;
    background-color: #7335b7;
    border-bottom-right-radius: 300px;
}
.link-bg:hover{
    background-color: rgb(6, 255, 22);
    color: rgb(124, 44, 44);
    border-radius: 5px;
}
.own-p{
    color: rgb(221, 216, 216);
}
.owndigital{
    margin-top: 100px;
}
.bt1{
    margin-top: 60px;
    padding: 10px 50px;
    background-color: blueviolet;
   
}
/* row-1 end */

/* row-2 start */
.row-2{
    width: 100%;
}
.service-top{
    padding-top: 80px;
}
.service-top h1{
    font-weight: bold;
}
.service-card{
    margin-top: 40px;
}
.service-item{
    border: 1px solid black;
    text-align: center;
    height: 300px;
    padding-left: 10px;
    
}
.service-item:hover{
    background-color: rgb(20, 20, 181);
    border-radius: 10px;
}
.service-item img{
    height: 26%;
    padding-top: 30px;
    
}
.service-item h3{
    font-size: 22px;
    padding-top: 35px;
    font-weight: bold;
}
.service-item p{
    text-align: justify;
}
.service-item button{
    background-color: transparent;
    font-style: bold;
    border: transparent;
}
.service-buttom{
    text-align: center;
    margin-top: 60px;
}
.service-buttom button{
    background-color: blue;
    padding: 10px 50px;
    border: transparent;
    border-radius: 10px;
    color: white;
}
/* row-2 end */

/* row-3 start */
.row-3{
    background-color: #7335b7;
    margin-top: 100px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 300px;
}
.about-title{
    padding-top: 25%;
}
.about-title h1{
    font-weight: bold;
}
.about-title p{
    color: white;
    padding-top: 20px;
    font-size: 15px;
}
.about-title a{
    display: inline-block;
    padding: 10px 45px;
    background-color: #f8842b;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid #f8842b;
    margin-top: 15px;
    text-decoration: none;
}
.about-section img{
    height: 70%;
    margin-top: 100px;
}
/* Row-3 end */